body, ul{
    margin: 0;
    padding: 0;
    background-image: url();
}

 a{
color:rgb(137, 135, 228);
text-decoration: none;
font-family: sans-serif;


}
a:hover{
    background-color:rgb(202, 205, 31);
}
#header{
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content:left;  
}
#menu{
display: flex;
list-style: none;

}

#menu a {
    display: block;
    padding: .5rem;

}
#btn-mobi{
    display: none;  
}
@media ( max-width:600px) {
    a{
        text-align:left;
    }
    
    #btn-mobi{
        display: block;
    }
    #menu{
        display:none; 
        position:absolute;
       
    }
    
    #nav.active #menu {
        display:flex;

    }
    
    
}